@using UpDown.Models
@model genre


@{
    ViewBag.Title = "SubGenres";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@Model.name</h2>


<section class="main-content">
                    <section class="row">
                        <section class="col-md-12 panel products-wrap bgc-wrap">
                            <section class="panel-header">
                                <h3 class="header-title"></h3>
                            </section>
                            <section class="panel-body">
                                <section class="action-bar">
                                    <button class="btn btn-theme btn-add-new-user">
                                        <a href="@Url.Action("AddSubGenre", "Admin", new { genreId = Model.genreID})">
                                            <i class="fa fa-plus"></i> Add New
                                        </a>
                                    </button>
                                </section>
                                <table class="table recent-activities-table order-column" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>   
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (SubGenre item in Model.SubGenres)
                                        {
                                            <tr>
                                                <td>@item.subGenreId</td>
                                                <td>@item.subGenreName</td>
                                                <td>
                                                    <a class="fa fa-eye"  title="View" href="@Url.Action("SubGenreEdit", "Admin", new { subId = item.subGenreId })"></a>
                                                    <a class="fa fa-trash-o" title="Delete" href="#" onclick="return confirm('Are you sure?')"></a>
                                                </td>
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </section>
                        </section>
                    </section>
                </section>


