@using UpDown.Models
@model List<carusel_images>

<div class="col-md-7">
    <h2 class="title-block">Best deals</h2>
    <div id="owl-slider" class="owl-carousel">
        

        <div class="item">
            <a href="http://updownsound.net/Products/Product/758cc0a1-ad6e-44e6-9475-e110f8a5c35b" target="_blank">
                <figure>
                    <img src="@Url.Content("~/images/slider/1356х688 (1)-min.jpg")" alt="The ACE of Base 2 - Synth Bass Edition">
                    <figcaption>The ACE of Base 2 - Synth Bass Edition</figcaption>
                </figure>
            </a>
        </div>
        <div class="item">
            <a href="http://updownsound.net/Products/Product/c53af418-02de-473c-a0c2-be4bb59d468e" target="_blank">
                <figure>
                    <img src="@Url.Content("~/images/slider/1356х688 (3)-min.jpg")" alt="OKEY - Rhodes Piano Pad Harp">
                    <figcaption>OKEY - Rhodes Piano Pad Harp</figcaption>
                </figure>
            </a>
        </div>
        <div class="item">
            <a href="http://updownsound.net/Products/Product/aefb9012-b7da-43bb-adc7-7612dd93b9b8" target="_blank">
                <figure>
                    <img src="@Url.Content("~/images/slider/1356х688 (5)-min.jpg")" alt="VOX OF BEATBOX">
                    <figcaption>VOX OF BEATBOX</figcaption>
                </figure>
            </a>
        </div>
        <div class="item">
            <a href="http://updownsound.net/Products/Product/6fab0da8-7ef0-4047-841b-acbe7aff53b6" target="_blank">
                 <figure>
                    <img src="@Url.Content("~/images/slider/1356х688 (4)-min.jpg")" alt="Saxophonic">
                    <figcaption>Saxophonic</figcaption>
                </figure>
            </a>
        </div>
        <div class="item">
            <a href="http://updownsound.net/Products/Product/e15c5a4e-3c0e-4313-9470-ff28e1ff285c" target="_blank">
                <figure>
                    <img src="@Url.Content("~/images/slider/1356х688 (6)-min.jpg")" alt="Sin City Trap - CONSTRUCTION KIT">
                    <figcaption>Sin City Trap - CONSTRUCTION KIT</figcaption>
                </figure>
            </a>
        </div>
    </div> <!--end #owl-slider-->
</div>